@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-image: url("pexels-andreea-ch-1166644.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position:top 80% right 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator{
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 1px 2px 15px rgba(16, 16, 17, 0.5);
    background-color: rgb(206, 205, 205);
}


input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background-image: linear-gradient(to top, #2c4343 0%, #1d0e30 100%);;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #1b1a1a;
}

input::placeholder{
    color: white;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 20%;
    background-image: linear-gradient(to top, #2c4343 0%, #1d0e30 100%);
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: #b1781b;
}

.operator{
    color: #d00966;
}